body {
	font-family : "Quicksand" , "sans-serif";
	weight : bold;
        background-image: url('http://i.imgur.com/wvbAhwy.jpg');
        background-repeat: no-repeat;
        background-size: cover;
}

#piechart  {
    height: 50%; 
    width: 50%;
    
    position: absolute;
    
    top:0;
    bottom: 0;
    left: 0;
    right: 0;

    margin: auto;
}
